.thanks__container {
  height: 100vh;
  background-image: url(../images/thankyou.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
